.footer-right-sec {
    border-left: 1px dotted var(--txt-color);
    padding-left: 40px;
  }
  .footer-right-links-sec {
    padding: 75px 0px;
  }
  .footer-right-input-sec {
    margin-top: 35px;
  }
  .footer-right-input-sec input{
    padding:3.5% 4%;
  }
  .footer-right-input-sec input:first-child{
    background-color:rgba(212, 212, 212, 0.103);
  }
  .footer-right-input-sec input:focus{
    outline: none;
  }
  /* .footer-right-links-sec h3 {
    color: var(--primary-color);
    font-size: 18px;
    margin-bottom: 25px;
  } */