.menuNav {
    height: 55px;
    z-index: 100;
    position: absolute;
    bottom: -28px;
    left: 0;
    right: 0;
    margin: auto;
  }
  .menuNav.active {
    position: fixed;
    top: 0;
    margin: 0;
    width: 100vw;
    background-color: var(--primary-color);
    z-index: 100000;
    box-shadow: var(--box-shadow);

  }
  .menuNav-container {
    background-color: var(--primary-color);
    height: 100%;
  }
  .menuNav-container ul li {
    margin-right: 30px;
  }
  .menuNav-container ul li a {
    color: var(--txt-color2);
    font-weight: 500;
    font-size: clamp(12px,1vw,15px);
  }
  .menuNav .activeLink{
    color: var(--secondary-color) ;
  }
  .dropdown svg {
    height: 10px;
    width: 9px;
    margin-left: 5px;
  }
  .dropdown-toggle::after {
    display: none;
  }
  .dropdown-item {
    color: black !important;
  }
  .dropdown-item:hover {
    background-color:var(--rare-color);
    color:white !important;
  }
  .dropdown ul li {
    margin: 0;
  }
  .fa-angle-down {
    font-size: 10px;
    margin-left: 3px;
}