
  .properties-section-cont{
    padding: var(--section-bottom-margin) 0;
    background-color: var(--primary-color);
  }
  .properties-sec-card-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    box-shadow: var(--box-shadow);
    row-gap: 1px;
    column-gap: 1px;
    background-color: var(--propertySec-separator);
  }