.progress-section-container {
    padding-top: 80px;
  }
  .progress-section-right {
    margin-top: 50px;
    padding: 0;
  }
  .progress-section .properties-section-card {
    border: none;
    padding: 0;
  }
  .progress-play-btn {
    width: 80px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--secondary-color);
    box-shadow: 0 0 0 0 #0004;
    animation: l1 1s infinite;
  }
  @keyframes l1 {
    0% {
      box-shadow: 0 0 0 0 var(--secondary-color);
      opacity: 1;
    }
    100% {
      box-shadow: 0 0 0 40px rgba(0, 17, 255, 0);
    }
  }
  .progress-play-btn img {
    height: 40%;
    width: 40%;
    object-fit: contain;
    margin-left: 10px;
  }
  #playIcon{
    filter: var(--Img-filter);
  }