.about-sec {
    padding: var(--section-bottom-margin) 0;
    background-color: var(--primary-color);
  }
  .about-sec-content {
    padding-left: 5%;
  }
  .about-sec-content h1 {
    margin-bottom: 16px;
  }
  .about-sec-subtitle {
    color: var(--txt-color);
    margin-bottom: 40px;
  }
  .about-sec-content h3 {
    font-size: clamp(16px, 2.1vw, 26px);
    color: var(--headings-color);
    margin-bottom: 20px;
  }
  .about-sec-desc {
    color: var(--txt-color);
    margin-bottom: 16px;
  }
  .about-sec-content .menuNav-socialLinks a {
    padding: 13px;
  }
  .about-sec-content .menuNav-socialLinks svg {
    height: 15px;
    width: 15px;
  }