@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --primary-color: #ffffff;
  --secondary-color: #3366cc;
  --rare-color: rgb(2, 27, 82);
  --txt-color: #838397;
  --txt-color2: #000000;
  --titles-font-family: "Red Rose", serif;
  --txt-font-family: "Roboto", sans-serif;
  --section-bottom-margin: 70px;
  --box-shadow: 0px 0px 20px 8px rgba(48, 48, 48, 0.06);
}
.fw-medium {
  font-weight: 500;
}
.custom-container {
  max-width: 1200px;
  width: 80%;
  margin: auto;
  padding: 0px 10px;
}
:is(ol, ul, li, p, div) {
  margin: 0;
  padding: 0;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--txt-font-family);
}
.row {
  margin-left: 0;
  margin-right: 0;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
:is(h1, h2, h3, h4, h5, h6) {
  font-family: var(--titles-font-family) !important;
  margin: 0;
  padding: 0;
}
body {
  overflow-x: hidden;
}
h1 {
  font-size: clamp(19px, 2.6vw, 32px);
}
p,
li a,
span {
  font-size: clamp(11px, 1.2vw, 14px);
}
.circle {
  background-color: var(--secondary-color);
  height: 25px;
  width: 25px;
}
